body { 
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    padding: auto; 
    margin: auto; 
} 

/* Logo CSS */ 
.sa-logo { 
    display: flex;
    width: 70px;
    margin: 15px; 
    position: absolute;
    left: -100px;
    top: -15px;
}

/* Search Bar CSS */ 
.Search { 
    display: flex;
    height: 300px; 
    align-items: center;
    justify-content: center;

}

.searchBar { 
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

}

.searchBar input { 
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px, 20px ;
    font-size: 20px;
    color: black; 
    backdrop-filter: blur(4px) saturate(180%);

}

/* Column Card CSS */ 
.columnCard { 
    position: relative;
    top: -700px;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 

}

.card { 
    background-color: white;
    width: 700px; 
    height: auto;
    border-radius: 15px;
}

.card-image { 
    background-color: aqua;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.cardImg { 
    background-image: url("../Images/heartImage.png");
}

.columnCard h2 { 
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

.columnCard p { 
    text-align: center;
    color: black;

}

.columnCard a { 
    background-color: rgba(23, 140, 255, 0.8);    
    color: white; 
    text-align: center;
    font-weight: bold;
    padding: 15px 20px; 
    display: block; 
    margin: 50px 100px; 
    border-radius: 15px;

}

/* Other */ 