body {
  background: linear-gradient(135deg, c);
    font-family: 'Ubuntu', sans-serif;
}

h2{
    padding-top: 20px;

}
.main {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 850px;
    margin: 3em auto;
    border-radius: 1.5em;
    box-shadow: 0 5px 10px rgba(230, 181, 181, 0.15);
  }

.sign {
    padding-top: 40px;
    color: rgb(15, 15, 15);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    
}
/* .loginas{
    text-align: center;
    margin-right: 20px;
    padding-bottom: 15px;
} */
.signup{
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;

}
.un {
    width: 76%;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 20px;
}

.pass {
      width: 76%;
      color: rgb(0, 0, 0);  
      font-weight: 700;
      font-size: 14px;  
        letter-spacing:   1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 15px;
        margin-left: 46px;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;  
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #ffffff;
    background: linear-gradient(135deg, #e4c2c2, #d8c0f1);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 18px;
}

.forgot {
    padding-top: 15px;
    font-size: 14px; 
    margin-right: 20px;
    

}
.user-title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-right: 20px;

 }
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 12px 0;
}

form .category{
  display: flex;
  width: 40%;
  margin: 10px 150 ;
  justify-content: space-between;
  padding: 10px;

  
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* 
body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff9f9;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(253, 252, 252);
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}




